
*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
header{
    background-color: cornflowerblue;
    padding: 20px;
    display: flex;
    text-align: center;
}
.logo{
    flex: 20;
    height: 100px;
}
.Brand{
    flex: 50;
    text-align: center;
    /* padding-top: 50%; */
}
nav{
    background-color: blueviolet;
    position: sticky;
    top: 0;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 25px;
}
li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.Brand{
    padding-top: 4px;
}
 .gallary-top{
    text-align: center;
    padding-top: 25px;
 }

@media(max-width:600px)
{
 
  .main_gallary1{
    flex-direction: column;
  }
   nav li{
    display: block;
   }
   
}
.main_gallery1{
    display: flex;
    padding-top: 20px;
    /* margin: 10px; */
}
.gallery-1{
    flex: 10;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}
.gallery-2{
    flex: 10;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}
.gallery-3{
    flex: 10;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}
.gallery-4{
    flex: 10;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}
.gallery-top{
    text-align: center;
    padding-top: 30px;
} 
.contact{
    display: flex;
    margin: 30px;
}
.contact-map{
    flex: 10;
}
.contact-form{
    border: 1px solid black;
}
.contact-button{
    width: 100px;
    height: 30px;
    text-align: center;

}
.contact-form{
    flex: 70;
    text-align: center;
    padding-top: 20px;
}

footer{
     background-color:blue;
     color: white;
     display: flex;
     padding: 20px;
    
}
.footer-para1{
    flex: 10;
    margin: 30px;

}
.footer-para2{
    flex: 10;
    margin: 30px;
}
.footer-para3{
    flex: 10;
    margin: 30px;
}
.footer-para4{
    flex: 10;
    margin: 30px;
}